<%= form_for :user, url: update_level_user_path do |f| %>
    <p>
	    &nbsp
		&nbsp
		&nbsp
	</p>
		<p>
	   &nbsp  
	</p>

  	<p>
     <%= f.select :level, options_for_select([['Basic','Basic'],['Intermediate','Intermediate'],['Advanced','Advanced'],['Expert','Expert']], :selected => params[:level]) %>
  </p>
	<p>
	   &nbsp  
	</p>
  
  <p>
    <%= f.submit 'Update level' %>
  </p>
<% end %>
<%= link_to 'Back to Users List', users_path %>