<% provide(:title, @user.name) %>
<h3>User ID = <%= @user.id %></h3>
<h3>Name = <%= @user.name %></h3>
<h3>Level = <%= @user.level %></h3>
<% @user.lessons.each do |lesson| %>
   Lesson: <strong><%= lesson.name %></strong>
<% end %>

