<h3> Take_quiz </h3>
<p> 
for admin only <%= @source_question.class.to_s %>
</p>

<% unless @source_question.image.nil? %>
<div>
<%= image_tag @source_question.image %>
    <p>
	<br>
	</p>
</div>
<% end %>


<% unless @source_question.audio.nil? %>
<div>
<%= audio_tag @source_question.audio, class: "audio_volume_only", id: "myAudio", controls: false %>
<p>
<br>
</p>
</div>
<% end %>

<% if @source_question.class.to_s == "Multichoicequestion" %>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  <%= radio_button_tag 'choice', @source_question.choice1 %>
  <%= @source_question.choice1 %>
  </p>
  <p>
  <%= radio_button_tag 'choice', @source_question.choice2 %>
  <%= @source_question.choice2 %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>
<% elsif @source_question.class.to_s == "Fillquestion" %>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  <%= @source_question.question %>
  </p>
  <p>
  <%= text_field_tag 'answer' %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>   
<% end %>
<% elsif @source_question.class.to_s == "Matchquestion" %>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  <%= @source_question.question %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>   
<% end %>