<h3> Take_quiz </h3>
<p> 
for admin only <%= @source_question.class.to_s %>
</p>

<% if @quizquestion.qtype == "Multichoicequestion" %>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  <%= radio_button_tag 'choice', @source_question.choice1 %>
  <%= @source_question.choice1 %>
  </p>
  <p>
  <%= radio_button_tag 'choice', @source_question.choice2 %>
  <%= @source_question.choice2 %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>

<% elsif @quizquestion.qtype == "Fillquestion" %>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  <%= @source_question.question %>
  </p>
  <p>
  <%= text_field_tag 'answer' %>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>   
<% elsif @quizquestion.qtype == "Matchquestion" %>
<p> HERE </p>
<%= form_tag (processquestion_lesson_quiz_quizquestion_path) do %>
  <p>
  match id: <%= @quizquestion.match_id %>
  </p>
  <table>
  <% @source_question.each_with_index do |mquestion,index| %>
  <tr>
  <td>
   <%= mquestion.left %>
  </td>
  <td>
  <%= collection_select :matchquestion, "answer"+index.to_s, Matchquestion.where("match_id = ?", @quizquestion.match_id ).shuffle, :right, :right %>
  </td>
  </tr>
  <% end %>
  </table>
  </p>
  <p>
  <%= submit_tag "Submit"%>
  </p>
<% end %>   
<% end %>