<h3> Quiz results </h3>
<% if @quizquestionresults.count == 0 %>
<p><%= @user.name %> did not take this quiz yet </p>
<% else %>
<p> <%= @user.name %> </p>
<p> Quiz: <%= @quiz.name %>, quiz id=<%= @quiz.id %> </p>
<p> Results array count: <%= @results_arr.count %> </p>
<% @results_arr.each do |r| %>
    <% if r["qtype"] == "Matchquestion" %>	
	<table width = "350">	    
	   <tr>
	      <td>
		  <table>
		    <% r["user_answers"].each do |user_answer| %>
		    <tr>			 
			  <td>
			    <%= user_answer %>
			  </td>
			</tr>
			<% end %>
		  </table>
		  </td>	
		 <td>
		  <table>
		    <% r["answer_keys"].each do |key| %>
		    <tr>			 
			  <td>
			    <%= key %>
			  </td>
			</tr>
			<% end %>
		  <table>
		  </td>	
	   </tr>
	</table>	
	<% elsif r["qtype"] == "Fillquestion" %>
	   <p>user answer: <%= r[:user_answer] %></p>
	   <p>key: <%= r[:key] %></p>
	   <p>status: <%= r[:status] %></p>
	<% end %>
<% end %>
<% end %>
