@import "bootstrap";
@import "font-awesome";
/* universal */

#vocabulary_definition {
  width: 350px;
  height: 200px;
}

a.hover {
text-decoration: none; 
}


html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}


.fa-star {color: red;}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.list-group-item {
   background-color: yellow;
}

user_nav {
   color: #ffffff
}
