<a href="javascript:addBox();">
			<i id = "add" class="fa fa-plus-circle fa-2x"></i>
			</a>

<a href="javascript:removeBox();">
			<i id = "remove" class="fa fa-minus-circle fa-2x"></i>
			</a>

			
<div id="items">
    <div><input type="text" name="input[]"></div>
</div>
<%= render partial: 'shared/form' %>
<%= link_to 'Back to Lessons List', multichoicequestions_path %>
